# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
path = "../output_data/cities.csv"

cities_df = pd.read_csv(path)

cities_df = cities_df[['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed', 'Country', 'Date']]

cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Bluff,-46.60,168.33,45.00,72,88,11.01,NZ,1598907485
1,Bredasdorp,-34.53,20.04,48.20,93,41,3.36,ZA,1598907500
2,Dongzhen,22.38,110.94,78.03,82,44,1.34,CN,1598907519
3,Vaini,-21.20,-175.20,78.80,88,40,12.75,TO,1598907485
4,Bethel,41.37,-73.41,72.39,53,75,5.82,US,1598907519
...,...,...,...,...,...,...,...,...,...
549,Markova,48.68,24.41,68.00,64,8,8.95,UA,1598907682
550,Dzaoudzi,-12.79,45.27,75.20,83,34,5.82,YT,1598907682
551,Stornoway,58.21,-6.39,57.11,82,20,17.22,GB,1598907683
552,Esim,4.87,-2.24,74.44,88,67,7.11,GH,1598907683
553,Bārān,25.10,76.52,76.01,90,5,8.34,IN,1598907683

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude and humidity in new variables
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"]

In [4]:
# Plot Heatmap
heatmap = gmaps.figure(center=(50.0, 20.0), zoom_level=3)

# Create and add layer to map
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, point_radius=2, max_intensity=np.max(humidity))
heatmap.add_layer(heat_layer)

# Display heatmap
heatmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Create new DF to meet the given conditions
cities_new_df = cities_df.loc[(cities_df["Max Temp"] >= 70) & (cities_df["Max Temp"] <= 80) &
                              (cities_df["Wind Speed"] <= 10) & (cities_df["Cloudiness"] == 0)].dropna()

cities_new_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
20,Mpulungu,-8.76,31.11,77.40,30,0,6.98,ZM,1598907523
79,Rota,36.62,-6.36,78.10,41,0,9.17,ES,1598907449
129,Sarandë,39.88,20.01,75.43,88,0,2.17,AL,1598907548
248,Fereydūnkenār,36.69,52.52,73.40,78,0,4.88,IR,1598907580
260,Zhicheng,30.30,111.50,77.11,82,0,3.69,CN,1598907583
302,Jining,35.41,116.58,70.75,90,0,6.93,CN,1598907600
376,Emba,48.83,58.14,73.96,30,0,3.36,KZ,1598907628
379,Kumul,42.80,93.45,70.45,23,0,8.46,CN,1598907628
393,Bashtanka,47.41,32.44,73.20,40,0,4.47,UA,1598907633
424,Beyneu,45.32,55.20,76.01,22,0,2.98,KZ,1598907644
495,Divinópolis,-20.14,-44.88,77.63,39,0,7.87,BR,1598907665
507,Alindao,5.03,21.21,70.36,94,0,1.72,CF,1598907668

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Store into variable named hotel_df
hotel_df = cities_new_df[['City', 'Lat', 'Lng', 'Country']]

# Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""

hotel_df

<ipython-input-6-f786161994d4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

              City    Lat     Lng Country Hotel Name
20        Mpulungu  -8.76   31.11      ZM
79            Rota  36.62   -6.36      ES
129        Sarandë  39.88   20.01      AL
248  Fereydūnkenār  36.69   52.52      IR
260       Zhicheng  30.30  111.50      CN
302         Jining  35.41  116.58      CN
376           Emba  48.83   58.14      KZ
379          Kumul  42.80   93.45      CN
393      Bashtanka  47.41   32.44      UA
424         Beyneu  45.32   55.20      KZ
495    Divinópolis -20.14  -44.88      BR
507        Alindao   5.03   21.21      CF

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    # Take lat, lng and cityname from hotel_df
    latitude = row["Lat"]
    longitude = row["Lng"]
    city = row["City"]
    
    # Make API request
    params["location"] = f"{latitude},{longitude}"
    response = requests.get(base_url, params=params).json()
    
    # Store results in variable
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']} in {city}")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # In case of IndexError print no nearest hotel found
    except IndexError:
        print(f"No nearest hotel found in {city}")

Closest hotel is Lake Tanganyika Resort in Mpulungu

C:\Users\jimi_\anaconda\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest hotel is Hotel Playa de la Luz in Rota
Closest hotel is Illyrian Boutique Hotel in Sarandë
Closest hotel is Kish Mehr Hotel in Fereydūnkenār
No nearest hotel found in Zhicheng
Closest hotel is Wanda Realm Jining in Jining
No nearest hotel found in Emba
Closest hotel is 哈密环球大酒店 in Kumul
Closest hotel is Хостел Мамина Хата in Bashtanka
Closest hotel is HOTEL "AKNUR" in Beyneu
Closest hotel is Hotel Caiman in Divinópolis
No nearest hotel found in Alindao

In [8]:
hotel_df

              City    Lat     Lng Country               Hotel Name
20        Mpulungu  -8.76   31.11      ZM   Lake Tanganyika Resort
79            Rota  36.62   -6.36      ES    Hotel Playa de la Luz
129        Sarandë  39.88   20.01      AL  Illyrian Boutique Hotel
248  Fereydūnkenār  36.69   52.52      IR          Kish Mehr Hotel
260       Zhicheng  30.30  111.50      CN
302         Jining  35.41  116.58      CN       Wanda Realm Jining
376           Emba  48.83   58.14      KZ
379          Kumul  42.80   93.45      CN                  哈密环球大酒店
393      Bashtanka  47.41   32.44      UA       Хостел Мамина Хата
424         Beyneu  45.32   55.20      KZ            HOTEL "AKNUR"
495    Divinópolis -20.14  -44.88      BR             Hotel Caiman
507        Alindao   5.03   21.21      CF

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
heatmap.add_layer(markers)

# Display figure
heatmap

Figure(layout=FigureLayout(height='420px'))